h1 {
    color:blue;
    font-size:3rem;
    background-color: chocolate;
}

h2 {
    color: red;
    font-size: 3rem;
    background-color: cyan;
}
         
p {
    color:darkgoldenrod;
    font-size: 1.25rem;
    background-color: darksalmon;
    background-color: lime;
}
     
p {
    color:darkgoldenrod;
    font-size: 1.25rem;
    background-color: darksalmon;
}