div {
    border: 8px solid chartreuse;
    padding: 50px;
    width: 500px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}
h1 {
    color:cyan;
} 
h3 {
    color :darkblue;
}
p {
    color :darkorange
}
        


    