* {
    margin: 0;
    padding: 0;
}
h1 {
    color: black;
    font-size: 50px;
}
body {
    background-color: blueviolet;
    font-family: arial;
    padding: 20px;
}
div {
    text-align: center;
    font-size: 25px;
    text-align: center;
}
.primero {
    background-color: gold;
    margin: 25px 25px 25px 25px;
    padding: 25px;

    
}
.inicio {
    background-color: orange;
    
    padding: 25px;
    
}
.fin {
    background-color:palegreen;
    
    padding:25px;
}
p {
    text-align: center;
    background-color: pink;
    margin: 25px;
}
.segundo {
    background-color: red;
}
.tercero {
    background-color: blue;
    padding: 0;
}


